<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kapouch.evotor">

    <uses-permission android:name="ru.evotor.pushnotifications.PUSH_RECEIVE" />
    <uses-permission android:name="ru.evotor.devices.SCANNER_RECEIVER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_kapouch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <meta-data
            android:name="app_uuid"
            android:value="${evotorAppUuid}" />

        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.EVOTOR" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".PushReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="ru.evotor.pushnotifications.PUSH_SENDER">
            <intent-filter>
                <action android:name="ru.evotor.pushnotifications.PUSH_RECEIVED_EVENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".CustomerScanReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="ru.evotor.devices.SCANNER_SENDER">
            <intent-filter>
                <action android:name="ru.evotor.devices.ScannedCode" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".OrderActionReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".OrderReminderReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
